.containerProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 25px 10px;
}

.cardProduct {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 0 15px;
  max-width: 260px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  height: 210px;
}

.cardProductTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #c9e7e7;
  font-size: 25px;
  padding: 0 0 20px;
  text-transform: capitalize;
  color: #31697a;
}

.cardProductDescription {
  font-size: 17px;
  color: darkslategray;
  height: 45%;
  margin: 10px 2px;
}

.LinkSeeMore {
  padding: 10px;
  background: #00a8ff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}
